<!-- Footer -->
<footer class="page-footer font-small blue pt-4" fixed-bottom>

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">A Propos</h5>
          <p>Test développeur web Hassen ZAMMELi</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">


          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Contacts</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://fr-fr.facebook.com/Geeks.Daata.Consulting/">facebook</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/geeks-data/">LinkedIn</a>
              </li>
              <li>
                <a href="#!">contact@geeksdata.fr</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.geeksdata.fr"> geeksdata.fr</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->