<!-- Default form login -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

  <p class="h4 mb-4">Se Connecter</p>

  <div class="md-form">
    <input type="text" id="materialLoginFormEmail" class="form-control" mdbInput formControlName="username"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    <label for="materialLoginFormEmail">Email</label>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Nom d'utilisateur vide </div>
    </div>
  </div>
  <!-- Password -->
  <div class="md-form">
    <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <label for="materialLoginFormPassword">Mot de passe </label>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Mot de passe vide</div>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
  mdbWavesEffect type="submit" [disabled]="loading">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  Sign in
</button>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  
  <!-- <p>Non-inscrit?
    <a href="#" routerLink="/register" routerLinkActive="router-link-active" >Inscrire</a>
  </p> -->

</form>
<!-- Default form login -->
<br><br><br><br>
